<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/estilo.css">
    <title>Home</title>
</head>
<body>
    <header class="header">

    </header>
    <section class="main">
        <section class="left-side-bar">

        </section>
        <section class="container">
            <h1 class="content-title">O início do início</h1>
            <h2 class="content-subtitle">O que é o Python</h2>
            <p>Segundo o Chat GPT, o Python é uma linguagem de programação de alto nível, conhecida pela sua clareza e simplicidade. Ela foi criada por Guido van Rossum e lançada pela primeira vez em 1991. Python é versátil, sendo usada em várias áreas, como desenvolvimento web, análise de dados, inteligência artificial, aprendizado de máquina, automação e desenvolvimento de jogos.</p>
                
            <p>Ela tem uma sintaxe simples e legível, o que facilita o aprendizado por iniciantes e a rápida implementação de ideias por programadores experientes. Python também tem uma grande comunidade de desenvolvedores, o que resulta em uma vasta coleção de bibliotecas e frameworks, tornando-a uma das linguagens mais populares e de rápido crescimento no mundo da tecnologia.</p>

            <h2 class="content-subtitle">Como instalar ou verificar a versão instalada?</h2>

            <h3>Windows</h3>
            <ol>
                <li>
                    <p>Python pode ser baixado e instalado a partir do site oficial <a target="_blank" href="https://www.python.org/downloads/">Python.org</a></p>
                </li>
                <li><p>Certifique-se de marcar a opção "Add Python to PATH" ao iniciar a instalação. Isso faz com que possamos acessar o Python através do prompt de comando.</p></li>
                <li><p>Para verificar a versão instalada, no prompt de comando digite "<span class="prompt-code">python --version</span>". Caso esteja instalado será exibida uma mensagem contendo a versão instalada.<img src="/static/img/--version-python.jpg"></p></li>
            </ol>

            <h3>MacOS</h3>
            <p>A instalação no MacOS é feita basicamente da mesma forma que no Windows.</p>

            <h3>Linux</h3>
            <p>No Linux, o Python geralmente já está instalado. Para verificar, abra o terminal e digite "<span class="prompt-code">python3 --version</span>". Se precisar instalar ou atualizar:</p>
            <ol>
                <li>
                    <p>Abra o Terminal.</p>
                </li>
                <li><p>Atualize o Pacote: Execute "<span class="prompt-code">sudo apt-get update</span>".</p></li>
                <li><p>Instale o Python: Execute "<span class="prompt-code">sudo apt-get install python3</span>".</p></li>
            </ol>

            <h2>Erros comuns</h2>
            <p>Se a versão de Python instalada não aparecer após a instalação, pode ser necessário reiniciar o computador ou verificar se a variável de ambiente PATH foi configurada corretamente.</p>
        </section>
    </section>
</body>
</html>